/excersices/nbproject/private/
/FirstSteps/nbproject/private/
/FirstSteps/build/
/Excercises/nbproject/private/
/Excercises/build/
/Excercises/dist/
/JavaFx1/nbproject/private/
/HelloFx/nbproject/private/
/HelloFx/build/
