/excersices/nbproject/private/
/FirstSteps/nbproject/private/
/FirstSteps/build/
/Excercises/nbproject/private/
/Excercises/build/
/Excercises/dist/
/JavaFx1/nbproject/private/
/HelloFx/nbproject/private/
/HelloFx/build/
/FirstJavaFx/target/
/JavaApplication9/nbproject/private/
/AnagramGame/nbproject/private/
/AnagramGame/build/
/JavaFxLayouts/target/
/LogInFX/target/
/FlowPane/target/
/GridPane/target/
