/excersices/nbproject/private/
/FirstSteps/nbproject/private/
/FirstSteps/build/
/Excercises/nbproject/private/
/Excercises/build/
/Excercises/dist/
/JavaFx1/nbproject/private/
/HelloFx/nbproject/private/
/HelloFx/build/
/FirstJavaFx/target/
/JavaApplication9/nbproject/private/
/AnagramGame/nbproject/private/
/AnagramGame/build/
/JavaFxLayouts/target/
/LogInFX/target/
/FlowPane/target/
/GridPane/target/
/UsingSceneBuilder/target/
/GUIContronlsExample/target/
/tryu/target/
/GUIControlsExample/target/
/JavaFXUIControlExample-master/build/
/JavaFXUIControlExample-master/dist/
/JavaFXUIControlExample-master/nbproject/private/
/FullLogin/target/
/CBOcomplete/target/
/EjemploCombobox-main/build/
/EjemploCombobox-main/nbproject/private/
/AnagramGame/dist/
/FormWithFX/target/
/Calculator/target/
/Excercises/DB_connection_example/target/
/Proyects/Using_FX/TodoList/target/
/Excercises/New Folder/Clase1/target/
/Proyects/LEDERHOS_BADOSA_SALINAS/TPI_BADOSA_LEDERHOS_SALINAS/target/
/BackEnd-main/target/
/Proyects/ConsoleProyects/todoList_basic/target/
/repositorio/target/
/Proyects/Using_FX/TodoListBasic/target/
/Excercises/HibernatePractices1/target/
/Proyects/Using_FX/SimpleForm/target/
/Proyects/Using_FX/crud_gpt/target/
/Proyects/Using_FX/JavaFXCrud/target/
/Proyects/Using_FX/Task_List/target/
